<html>
<head>
  <style>
    .box{border: 5px solid #f19f5e;
    text-align: center;
    padding: 30px;
    font-size: 25px;
    background-color: #fbe4bd;
    font-family: Arial;}

    h1{
    color: #ff003b;}
  </style>
<body>
  <div class="box">
   <h1>
      Thank you {{username}}!!!
   </h1>
   <h3>
      <i>Thanks For Your feedback.</i><br><br>
       Your feedback has been recorded anonymously in our database.<br>You can confirm it by visiting <a href="{{link}}/#/status">this</a> page
   </h3>
  </div>
</body>
</html>